<div id="topsearch">
        <form name="searchForm" method="get" action="{plink Catalog:search}">
                <input class="search-query" name="query" type="text" value="Hledat" onfocus="if(this.value=='Hledat')this.value='';" onblur="if(this.value=='')this.value='Hledat';" autocomplete="off" />
                <a href="javascript:document.searchForm.submit();">Go!</a>
        </form>
</div>