<ul id="tmheaderlinks">
        <li><a href="{plink Homepage:default}" n:class="$presenter->linkCurrent ? active"><span>Domů</span></a></li>
        <li><a href="{plink Catalog:default}" {ifCurrent Catalog:*}class="active"{/ifCurrent}><span>Produkty</span></a></li>
        <li><a href="{plink Page:gallery}" n:class="$presenter->linkCurrent ? active"><span>Galerie</span></a></li>
        <li><a href="{plink Page:contact}" n:class="$presenter->linkCurrent ? active"><span>Kontakt</span></a></li>
</ul>