{block title}Obchodní podmínky{/block}
{block content}
<div class="box">
    <div class="head"><span>Obchodní podmínky</span></div>
    <div class="content">
       <div class="page">

            <h3>1) VŠEOBECNÁ USTANOVENÍ</h3>
           

        </div>
    </div>
    <div class="footer"></div>
</div>
{/block}
