{block title}Dashboard{/block}
{block content}
<a href="{plink Category:new}">Přidat kategorii</a>
<br />
<a href="{plink Category:list}">Upravit kategorii</a>
<br />
<a href="{plink Product:new}">Přidat produkt</a>
<br />
<a href="{plink Product:list}">Upravit produkt</a>
<br />
<a href="{plink Sign:out}">Odhlásit</a>
{/block}
